* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 30px;
}

h2 {
  text-align: center;
  border: 3px solid black;
}

.user-interface {
  display: none;
  aspect-ratio: 1;
  width: 505px;
  margin: 10px;
  flex-direction: column;
}

.class2 {
  background: #fff url("images/CampFireFinished.png") 0 0 / 205px no-repeat;
  animation: sprite-animation 0.4s steps(5) infinite;
}

@keyframes sprite-animation {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -205px 0;
  }
}

.class1 {
  background-color: blue;
}

/* .class2 {
    background-image: url('images/fireIcon.png');
    background-size: cover;
    background-repeat: no-repeat;
} */

.class3 {
  background-image: url("images/dagger.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.user-interface button {
  font-family: sans-serif;
  font-size: 1.5rem;
  color: #fff;
  background: goldenrod;
  padding: 1.1rem 3.4rem;
  border-radius: 0.2rem;
  transition: opacity 0.2s;
}

.user-interface button:hover {
  cursor: pointer;
  background: #053056;
}

.sword {
  background-image: url("images/dagger.png");
  background-size: cover;
  height: 7rem;
  width: 7rem;
}

.shoes {
  background-image: url("images/37.png");
  background-size: cover;
  background-repeat: no-repeat;

  height: 4rem;
  width: 4rem;
}

#start {
  margin-bottom: 20px;
  height: 150px;
  margin: 5px;
  border-radius: 20px;
}
.grid {
  width: 505px;
  aspect-ratio: 2;
  display: flex;
  flex-wrap: wrap;
}

.cell {
  width: 10%;
  aspect-ratio: 1;
  border: 1px solid black;
}

.target {
  background-color: chartreuse;
}

.exit {
  background-image: url("images/exit-door.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.clicker {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 9rem;
  height: 9rem;
}
.clicker button {
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  background-color: red;
}
.clicker h3 {
  text-align: center;
}
.targetThree {
  background-image: url("images/alligator.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.targetFour {
  background-color: aquamarine;
}

.targetFive {
  background-color: pink;
}
.targetSix {
  background-image: url("images/alligator.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.targetTwo {
  background-color: orangered;
}

.player {
  background-color: dodgerblue;
}

.finalBoss {
  background-image: url(images/Dragon.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#dialog1,
#dialog3,
#dialog4,
#dialog5,
#dialog6 {
  border: 2px solid black;
  position: fixed;
  background-color: blueviolet;
  /* top : 60vh;
    left: 50%; */
  width: auto;
  /* transform: translate(-50%, -50%); */
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  padding: 10px;
}

#dialogBoss {
  border: 2px solid black;
  position: fixed;
  background-color: blueviolet;
  /* top : 60vh;
    left: 50%; */
  width: auto;
  /* transform: translate(-50%, -50%); */
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  padding: 10px;
}

#youLostDiv {
  border: 2px solid black;
  position: fixed;
  background-color: blueviolet;

  width: 60vw;
  height: 60vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
}

#dialog1 p {
  padding: 10px;
}

#dialog2 {
  border: 2px solid black;
  position: fixed;
  top: 80vh;
  left: 50%;
  width: 60vw;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

#dialog2 p {
  padding: 10px;
}

#button1,
#button2,
#button3,
#button4,
#button3Bis,
#button4Bis {
  margin: 10px;
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background-color: pink;
}

.button {
  margin: 10px;
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

#giveSwordButton {
  margin: 10px;
  padding: 10px 20px;
  border: none;
  background-image: url(/images/dagger.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: brown;
  border-radius: 5px;
  cursor: pointer;
  width: 150px;
  height: 150px;
}

#takeMyShoesButton {
  margin: 10px;
  padding: 10px 20px;
  border: none;
  background-color: darkslategray;
  border-radius: 5px;
  cursor: pointer;
  width: 150px;
  height: 150px;
}

#wrongAnswerDiv,
#goodAnswerDiv,
#answerMusicDiv {
  border: 2px solid black;
  position: fixed;
  background-color: blueviolet;
  /* top : 60vh;
    left: 50%; */
  width: auto;
  /* transform: translate(-50%, -50%); */
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  padding: 10px;
}

#wrongAnswerButton,
#goodAnswerButton {
  margin: 10px;
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
#correctSongDiv {
  border: 2px solid black;
  position: fixed;
  background-color: blueviolet;
  /* top : 60vh;
    left: 50%; */
  width: auto;
  /* transform: translate(-50%, -50%); */
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  padding: 10px;
}
#wrongSongDiv {
  border: 2px solid black;
  position: fixed;
  background-color: blueviolet;
  /* top : 60vh;
    left: 50%; */
  width: auto;
  /* transform: translate(-50%, -50%); */
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  padding: 10px;
}

#marioButton {
  margin: 10px;
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
#starWarsButton {
  margin: 10px;
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
#zeldaButton {
  margin: 10px;
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
#marioButton {
  margin: 10px;
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
